body{
    margin: 0 auto;
    width: 1024px;
    text-align: justify;
}

.header-wrap{
    display: flex;
    justify-content: space-between;
}

form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
}

input {
    padding: 5px;
}

textarea{
    width:100%;
}

.item-form:last-child{
    margin: 0 auto;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.wrap-goods{
    max-width: 30%;
    margin: 5px;
}

h1 {
    margin: 0;
    font-size: 55px;
}

a {
    text-decoration: none;
    color: #0b0b0b;
}

.container {
    overflow:hidden;
}

.container img{
    max-width: 100%;
}

table {
    margin: 0 auto;
}

header{
    padding: 20px;
    background-color: #e6e7f6;
    margin: 0 0 10px 0;
}

footer {
    padding: 20px;
    background-color: #e6e7f6;
    margin: 10px 0 0 0;
}

